body{
    font-family: "Montserrat";
}

h3{
    font-family: "Montserrat";
    font-size: 2.5rem;
}

#header {
    background-color: #b5838d;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.gen-links{
	text-decoration: underline;
	color: inherit;
}

a {
    font-size: 20px;
}

#header-title{
	font-size: 3rem;
}

#top-link{
    padding-left: 35px;
	font-size: 1.5rem;
	text-decoration: none;
	color: inherit;
}

.container-fluid{
    padding: 3% 10%;
}

#march-photo{
    width: 80%;
    height: 80%;
	padding-top: 2%;
}

#header-heading {
	padding-right: 2%;
	padding-bottom: 2%;
    line-height: 1.15;
    font-size: 2.25rem;
}

#acronym-link{
	text-decoration: none;
	color: inherit;
}

/*Navigation Bar*/

.navbar {
    padding-bottom: 40px;
}

.navbar-brand{
    font-family: "Ubuntu";
    letter-spacing: 1px;
    font-size: 25px;
    text-decoration: underline;
}

/*Download Buttons*/

.download-button{
    margin: 10px 0px 15px 15px;
}

/*acronyms*/

#acronym-section{
    text-align: center;
    background-color: #73B7A1;
}

.carousel-block{
	background-color: #C4544B;
	padding: 25px 35px;
	border-radius: 40px;
}

.carousel-desc{
	padding-top: 10px;
	font-size: 30px;
}

.carousel-item{
    padding: 4% 10%;
	text-align: center;
}

.carousel-header{
	font-size: 45px;
}

/*philosophies*/

#philosophies{
    padding: 5% 2%;
	background-color: #b5838d;
}

.phil-title{
	font-size: 40px;
	text-align: center;
	padding-bottom: 4%;
}

.selling-icons {
    text-align: center;
    font-size: 75px;
    padding-bottom: 25px;
	padding-right: 1%;
}

.selling-point-01{
    text-align:center;
    font-size:20px;
    line-height:1.5;
}

/*allyship*/
#allyship{
    padding: 6%;
	text-align: center;
	background-color: #73B7A1;
}

.allyship-par{
	font-size: 1.35rem;
	padding-top: 3%;
}

#ally-list-cont{
	text-align: left;
	padding: 0% 20%;
}

.ally-list{
	padding-bottom: 3%;
	font-size:1.175rem;
}

li::marker {
	text-align: left;
    font-size: 2.5rem;
}

/*bottom container*/

.bottom-container{
	background-color: black;
	color: white;
	font-size: 2rem;
	padding: 5%;
	text-align: center;
}